/*
//  =======
	border: 1px solid #3a3a3a;
	background: #3a3a3a;
	color: #fff;===================
//  Evgeniy Ivanov
//  Email: busforward@gmail.com
//  Skype: ivanov_ea
//  ==========================
 */

// Compass extention 
@import 'compass/css3';

// Global variables
// ========================================================================

$footer_height: 								430px;
$grid_padding:									30px;
$color_main: 									#4d4d4d;
$color_success: 								#ff4900;

// max-width: 480px ===========================================================
$color_danger: 									#90c10d;
$btn_success: 									#a4dc0f;
$btn_danger: 									#ff6519;
$btn_default: 									#303030;
$color_warning: 								#ff4800;
$color_gray_light: 								#f7f7f7;
$color_gray_el: 								#3a3a3a;

// Breakpoints 
// ================================================================
$breakpoint-small:                               480px !default;
$breakpoint-medium:                              760px !default;
$breakpoint-large:                               960px !default;
$breakpoint-xlarge:                              1200px !default;

$breakpoint-mini-max:                            ($breakpoint-small - 1) !default;
$breakpoint-small-max:                           ($breakpoint-medium - 1) !default;
$breakpoint-medium-max:                          ($breakpoint-large - 1) !default;
$breakpoint-large-max:                           ($breakpoint-xlarge - 1) !default;




// Fonts
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700,800i&subset=cyrillic';

$main_font_family:								Open Sans, sans-serif;
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700,800i&subset=cyrillic";

// Example - @extend %f_bold;
%f_bold {
	font-weight: 600;
}
%f_normal {
	font-weight: 400;
}
%f_light {
	font-weight: 300;
}

// Elements color ==========================================================
$el-bg-colors: (
	primary: $color_gray_el, // color for .element__primary
	success: $btn_success, // color for .element__success
	info: #303030, // color for .element__info
	warning: $color_warning, // color for .element__warning
	danger: $btn_danger, // color for .element__danger
);

$el_default_bg_color:							transparent;
$el_default_bg_color_hover:						transparent;
$btn_default_border_color:						$btn_default;

$btn_default_text_color:                        $btn_default;
$btn_contrast_text_color:                        #fff;


// Mixin =======================================================================

// Style for columns text 
// Используется для многоколоночного адаптивного текста, а также для списков
// $width - минимальная ширина колонок
// $count - количество колонок (при уменьшении экрана меняются автоматически в зависимости от первого значения)
// $padding - отступ между колонками
// $divider_widh - ширина разделительной линии между колонками
// $divider_line - стиль разделительной линии 
// $divider_color - цвет разделительной линии 
// Лишнее можно просто закомментировать
// ---------------------------------
// Example for html 
// div class="column"
// ---------------------------------
// Example for scss 
// .column {
// 	@include columns-text(300px, 3, 40px, 1px, solid, #000);
// }
@mixin columns-text($width, $count, $padding, $divider_widh, $divider_line, $divider_color) {
	@include columns($width $count); // Count and width or columns
	@include column-gap($padding); // Padding for columns
	@include column-rule($divider_widh $divider_line $divider_color); // Divider for columns
}


// Float el clear
%clear_a {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

%clear_b {
	&:before {
		content: '';
		display: table;
		clear: both;
	}
}

%clear_all {
	@extend %clear_a;
	@extend %clear_b;
}

// Transition speed for element
@mixin trs($trs_speed) {
	@include transition(all $trs_speed);
}


// Placeholder for input
@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}


// End @mixin and variables

// ========================================================================
// Main styles
// ========================================================================
.fl__left {
	float: left;
}

.fl__right {
	float: right;
}

.form__row,.row {
	@extend %clear_a;
	&+* {
		margin-top: 20px;
	}
}

// Reset brouser styles ========================
* {
	margin: 0;
	padding: 0;
	@include box-sizing(border-box);
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

html,body,.wrapper {
	height: 100%;
	position: relative;
	@include box-sizing(content-box);
}

body { 
	font: 14px/1.3 $main_font_family;
	// line-height: 1.5;
	color: $color_main;
}

input, textarea {
	outline: 0;
}

a {
	text-decoration: none;
	outline: 0;
	color: #016594;
	@include trs(.2s);
	&:hover {
		text-decoration: underline;
	}
	&:focus {
		outline: 0;
	}
}

ol,ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

dl {
	@extend %clear_all;
	dt,dd {
		margin-bottom: 15px;
	}
	dt {
		float: left;
		font-weight: 700;
		width: 350px;
		// clear: left;
		clear: both;
	}
	dd {
		// overflow: hidden;
		margin-left: 372px;
	}
}

.list {
	margin-top: 25px;
	margin-bottom: 25px;
	&>* {
		line-height: 18px;
		padding-left: 15px;
		&:before {
			content: '-';
			font-size: 14px;
			display: inline-block;
			vertical-align: baseline;
			margin-right: 4px;
			margin-left: -15px;
			font-weight: 300;
		}
		&+* {
			padding-top: 13px;
		}
	}
}

.list_dotted {
	li {
		padding-left: 20px;
		position: relative;
		&:before {
			content: '•';
			position: absolute;
			top: 5px;
			left: 6px;
			display: inline-block;
			font-size: 14px;
		}
	}
}

.text_danger {
	color: $color_danger;
}


p {
	padding: 0;
	margin: 0;
}

img {
	max-width: 100%;
	border: 0;
	outline: none;
	&.fl__left { // Для картинок с обтекание внутри основного контента сайта
		margin-top: 14px;
		margin-right: 29px;
		margin-bottom: 20px;
	}
	&.fl__right { // Для картинок с обтекание внутри основного контента сайта
		margin-top: 14px;
		margin-bottom: 20px;
		margin-left: 29px;
	}
}

// Main wrappers =====================================

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto (-$footer_height) auto; // отрицательный нижний отступ на высоту футера
}

.container_center {
	max-width: 1200px;
	padding: 0 15px;
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	margin-left: auto;
	margin-right: auto;
}

// Input text and textarea ================================================
input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=number],
input[type=datetime], 
textarea {
	background-color: white;
	border: 1px solid #cccccc;
	padding: 10px 15px;
	outline: none;
	font-size: 13px;
	font-weight: 400;
	font-family: $main_font_family;
	@include border-radius(4px);
	@include trs(0.3s);
	&:hover {
		border: 1px solid #9ec6e8;
	}
	&:focus {
		border: 1px solid #53a1e3;
		@include box-shadow(0 0 7px rgba(83, 161, 227, 0.2));
		@include placeholder {
			color: red;
		}
	}
	&.input_error {
		background-color: #ffefef;
		border: 1px solid red;
		color: #fe0000;
		font-style: italic;
		font-weight: 300;
	}
}

// Placeholder for input +++++++++++++++
@include placeholder {
	color: grey;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto;
}

// Input checkbox and radio ===============================================
input[type=checkbox],
input[type=radio] {
	padding: 0;
}

input[type=checkbox]:not(:disabled),
input[type=radio]:not(:disabled) {
    cursor: pointer;
}

input[type=checkbox],
input[type=radio] {
    display: inline-block;
    height: 15px;
    width: 15px;
    border: 1px solid #aaa;
    overflow: hidden;
    margin-top: -4px;
    vertical-align: middle;
    -webkit-appearance: none;
    outline: 0;
    background: 0 0;
    text-align: center;
    position: relative;
}

input[type=radio] {
    border-radius: 50%;
    height: 14px;
    width: 14px;
}

input[type=checkbox]:before,
input[type=radio]:before {
    display: block;
}

input[type=radio]:checked:before {
    content: '';
    width: 8px;
    height: 8px;
    top: 50%;
    left: 50%;
    margin-top: -4px;
    margin-left: -4px;
    display: block;
    position: absolute;
    border-radius: 50%;
    background: #90c10d;
}

input[type=radio].input_check {
	border-radius: 0;
    height: 15px;
    width: 15px;
	&:before {
		content: '';
		width: 14px;
		height: 14px;
		top: 0;
		left: 0;
		margin: 0;
	}
}

input[type=checkbox]:checked:before,
input[type=checkbox]:indeterminate:before,
input[type=radio].input_check:checked:before,
input[type=radio].input_check:indeterminate:before {
    content: "\2714";
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    line-height: 14px;
    color: #ffffff;
    background-color: $color_danger;
    border-radius: 0;
}

input[type=checkbox]:indeterminate:before,
input[type=radio].input_check:indeterminate:before {
    content: "\f068";
}

input[type=checkbox]:disabled,
input[type=radio]:disabled {
    border-color: #ddd;
}

input[type=radio]:disabled:checked:before {
    background-color: #aaa;
}

input[type=checkbox]:disabled:checked:before,
input[type=checkbox]:disabled:indeterminate:before {
    color: #aaa;
}

.form_error {
	color: red;
	font-size: 12px;
	position: absolute;
	top: 0;
	left: 0;
}

label {
	display: block;
	color: #666;
	margin-bottom: 10px;
}

textarea {
	min-height: 94px;
	width: 100%;
}

select {
	height: 30px;
	background-color: transparent;
	border: 0px solid #ccc;
	color: grey;
	font-family: Open Sans;
	font-size: 13px;
	font-weight: 400;
	padding: 0px 43px 0px 13px;
	outline: 0;
	cursor: pointer;
	&:hover {
		border: none;
	}
	&:focus {
		border: 0px solid #53a1e3;
		// @include box-shadow(0 0 7px rgba(83, 161, 227, 0.2));
	}
}
.select {
	position: relative;
	overflow: hidden;
	border: 1px solid #ccc;
	cursor: pointer;
	&:hover {
		border: 1px solid #9ec6e8;
	}
	&:focus {
		border: 1px solid #53a1e3;
		@include box-shadow(0 0 7px rgba(83, 161, 227, 0.2));
	}
	select {
		width: 105%;
	}
	&_carret {
		background: image-url('sel_carret_bottom.png') no-repeat center center;
		display: block;
		width: 30px;
		height: 30px;
		background-color: white;
		border-left: 1px solid #ccc;
		position: absolute;
		right: 0px;
		top: 0;
		text-align: center;
		z-index: -1;

	}

}

.auth_form {
	max-width: 378px;
	position: relative;
	padding-top: 58px;
	.form__row {
		margin-bottom: 30px;
		label {
			float: left;
			width: 80px;
			padding-top: 14px;
		}
		.form_field {
			padding-left: 100px;
			input {
				width: 100%;
				color: $color_main;
				font-size: 14px;
			}
		}
	}
	.btn {
		width: 219px;
		height: 45px;
		margin-bottom: 25px;
		&+a {
			display: block;
			text-align: right;
			@extend %clear_all;
		}
	}
}

.reg_form {
	max-width: 476px;
	position: relative;
	padding-top: 58px;
	.form__row {
		margin-bottom: 31px;
		label {
			float: left;
			width: 160px;
			padding-top: 11px;
		}
		.form_field {
			padding-left: 177px;
			input {
				width: 100%;
				color: $color_main;
				font-size: 14px;
			}
		}
	}
	.btn {
		width: 219px;
		height: 45px;
		margin-bottom: 25px;
		&+a {
			display: block;
			text-align: right;
			@extend %clear_all;
		}
	}
}

// Grid
// ------------------------
// Example - for html
// <div class="grid grid__1_3 ">
// 	<div class="grid__wrapper">
//		...
// 	</div>
// 	<div class="grid__wrapper">
//		...
// 	</div>
// 	<div class="grid__wrapper">
//		...
// 	</div>
// </div>
// ------------------------
.grid {
	margin-left: -$grid_padding;
	@extend %clear_all;
	&__wrapper {
		padding-left: $grid_padding;
		padding-bottom: $grid_padding;
		float: left;
	}
	&__item {

	}
	&__1 {
		.grid__wrapper {		
			width: 100%;
		}
	}
	&__2 {
		.grid__wrapper {		
			width: 50%;
		}
	}
	&__3 {
		.grid__wrapper {		
			width: 33.333%;
		}
	}
	&__4 {
		.grid__wrapper {		
			width: 25%;
		}
	}
	&__5 {
		.grid__wrapper {		
			width: 20%;
		}
	}
}

// Style for button and pseudo button for input and link
.btn {
	color: $btn_default_text_color;
	font-family: $main_font_family;
	font-size: 13px;
	font-weight: 400;
	padding: 10px 15px;
	border: 1px solid;
	outline: none;
	text-decoration: none;
	display: inline-block;
	background-color: $el_default_bg_color;
	text-align: center;
	max-width: 100%;
	cursor: pointer;
	// @include border-radius(5px);
	@include trs(0.3s);
	text-transform: uppercase;
	&:hover {
		// background-color: $el_default_bg_color_hover;
		color: $btn_default_text_color + #333333;
		text-decoration: none;
	}
	@each $status_el, $color_el_bg in $el_bg_colors {
		&_#{$status_el} {
			border: 1px solid $color_el_bg;
			background: $color_el_bg;
			color: $btn_contrast_text_color;
			&:hover {
				border: 1px solid $color_el_bg + #333333;
				background: $color_el_bg + #333333;
				color: $btn_contrast_text_color;
			}
		}
	}	
}

// Style for columns text
.column {
	@include columns-text(300px, 3, 40px, 0px, solid, #000);
}


// Social link
.soc {
	float: left;
	a {
		display: inline-block;
		width: 30px;
		height: 30px;
		@include border-radius(50%);
		text-align: center;
		text-decoration: none;
		@include trs(0.3s);
		&:hover {
			opacity: .8;
		}
		&:before {
			color: #fff;
			text-decoration: none;
			width: 32px;
			height: 32px;
			display: inline-block;
		}
	}
}

.copy {
	float: right;
}

// Breadcrumb ==================================================================
.breadcrumb {
	padding-left: 10px;
	margin-bottom: 29px;
	li {
		display: inline-block;
		vertical-align: baseline;
		&:not(:first-child) {
			&:before {
				content: '/';
				display: inline-block;
			}
		}
		&:last-child {
			a {
				color: $color_danger;
				cursor: default;
				text-decoration: none;
			}
		}
		
		a {
			font-size: 12px;
			color: grey;
		}
	}
}

// Pagination ==================================================================
.pagination {
	text-align: center;
	li {
		display: inline-block;
		vertical-align: baseline;
		margin: 0 8px;
		a {
			display: block;
			text-align: center;
			width: 9px;
			height: 9px;
			background-color: $btn_default;
			@include trs(.2s);
			@include opacity(0.5);
			@include border-radius(9px);
			font-size: 0;
			&.active {
				height: 19px;
				background-color: $btn_default;
				@include opacity(1);
				cursor: default;
			}
			&:hover {
				@include opacity(1);
			}
		}
		&.prev, &.next {
			a {
				&:before {					
				}
			}
		}
		&.prev {
			a {
				&:before {
					content: '<';
					
				}
			}
		}
		&.next {
			a {
				&:before {
					content: '>';
					
				}
			}
		}
	}
}

// Modal / bootstrap ------------------------------------------
.modal_close {
	position: absolute;
    width: 21px;
	height: 21px;
	right: -23px;
	top: -23px;
	background: image-url('madal_close.png') no-repeat center center;
    &:hover {
    	opacity: .8;
    }
}

.modal-open {
    overflow: hidden;
}

.modal {
    display: none;
    overflow: auto;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.modal.fade .modal-dialog {
    @include transform(translate(0,-25%));
    @include transition(transform .3s ease-out);
}

.modal.in .modal-dialog {
    @include transform(translate(0,0));
    position: relative;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

.modal-content {
    position: relative;
    background-color: $color_gray_light;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    @include border-radius(6px);
    @include box-shadow(0 3px 9px rgba(0,0,0,.5));
    background-clip: padding-box;
    outline: 0;
    padding: 46px 53px;
    @extend %clear_a;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}

.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0);
}

.modal-backdrop.in {
    opacity: .5;
    filter: alpha(opacity=50);
}

.modal-header {
    padding: 15px 0;
    min-height: 16.42857143px;
    color: #666;
    font-size: 18px;
}

.modal-header .close {
    margin-top: -2px;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
}

.modal-body {
    position: relative;
    padding: 0;
}

.modal-footer {
    margin-top: 15px;
    padding: 19px 20px 20px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.modal-footer .btn+.btn {
    margin-left: 5px;
    margin-bottom: 0;
}

.modal-footer .btn-group .btn+.btn {
    margin-left: -1px;
}

.modal-footer .btn-block+.btn-block {
    margin-left: 0;
}



/* Header
 ----------------------------------------------------------------------------- */
.header {
	background-color: $btn_default;
	position: relative;
	z-index: 2;
	@extend %clear_a;
	&_navbar {
		background-color: $color_gray_el;
	}
}

.logo {
	float: left;
	width: 270px;
	display: inline-block;
	margin-top: 8px;
}

// stiky menu
.stiky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.header_middle {
	padding-top: 12px;
	padding-bottom: 12px;
	@extend %clear_a;
}

.header_contact {
	float: right;
	width: 353px;
	color: #fff;
	@extend %clear_a;
	span {
		color: gray;
	}
	&_phones {
		float: left;
	}
	&_phone {
		color: #fff;
		display: block;
		font-size: 23px;
		margin-bottom: 1px;
		&:hover {
			text-decoration: none;
			opacity: .8;
		}
	}
	&_work_time {
		display: block;
		font-size: 10px;
		padding-left: 4px;
		margin-top: 4px;
	}
	&_btns {
		float: right;
		width: 130px;
		padding-top: 2px;
		.btn {
			width: 100%;
			color: grey;
			border-color: gray;
			font-size: 10px;
			font-weight: 700;
			text-transform: uppercase;
			padding: 0 9px;
			line-height: 29px;
			&+.btn {
				margin-top: 10px;
			}
			&:hover {
				text-decoration: none;
				opacity: 0.8;
			}
		}
	}
	.icon_skype {
		&:before {
			content: image-url('skype.png');
			display: inline-block;
			vertical-align: middle;margin-right: 13px;
			margin-bottom: -7px;
		}
	}
}

.sales_menu {
	overflow: hidden;
	text-align: center;
	padding: 7px;
	&_link {
		text-decoration: none;
		display: inline-block;
		text-align: center;
		width: 148px;
		height: 61px;
		padding: 7px 10px 0px;
		color: $color_danger;
		&:nth-child(n+2) {
			border-left: 1px solid #404040;
		}
		&:nth-child(2) {
			width: 134px;
		}
		&:hover {
			text-decoration: underline;
		}
	}
	&_text {
		font-size: 13px;
		font-weight: 400;
		display: block;
		margin-top: 6px;
	}
}

.header_bottom {
	background-color: $color_gray_light;
	height: 59px;
	&_search {
		position: relative;
		overflow: hidden;
		padding: 12px 30px;
		button {
			position: absolute;
			cursor: pointer;
			outline: 0;
			left: 40px;
			width: 40px;
			height: 33px;
			background-color: transparent;
			border: none;
			background: image-url('search_h.png') no-repeat center center;
			top: 12px;
			&:hover {
				opacity: .8;
			}
		}
		input {
			width: 470px;
			padding-left: 61px;
			padding: 5px 15px 8px 61px;
			@include border-radius(0);
		}
	}
	&_right {
		float: right;
		width: 373px;
		@extend %clear_a;
		&_link {
			display: block;
			color: #999;
			text-decoration: none !important;
			float: left;
			padding: 10px 0 0px;
			height: 59px;
			cursor: pointer;
			&:hover {
				background-color: #fff;
			}
			&.lk {
				width: 226px;
				padding-left: 20px;
				position: relative;
				&:before {
					content: '';
					background: image-url('lk.png') no-repeat left center;
					display: block;
					float: left;
					width: 49px;
					height: 36px;
				}
				&:hover {
					.auht_drop {
						display: block;
					}
				}
			}
			&.cart {
				width: 146px;
				padding-left: 20px;
				&:before {
					content: '';
					background: image-url('cart.png') no-repeat left center;
					display: block;
					float: left;
					width: 49px;
					height: 36px;
					margin-top: -2px;
				}
			}
			span {
				display: block;
				overflow: hidden;
				&:first-child {
					font-size: 14px;
					font-weight: 700;
				}
				&:last-child {
					font-size: 12px;
					margin-top: 1px;
				}
			}
		}
	}
}

.auht_drop {
	display: none;
	position: absolute;
	z-index: 100;
	width: 284px;
	top: 60px;
	left: 0;
	padding: 40px 39px 44px;
	background-color: $color_gray_light;
	.btn {
		width: 300%;
		text-transform: uppercase;
		padding: 11px;
		font-weight: 400;
		&_reg {
			border: 1px solid #ccc;
			color: #666;
			&:hover {
				color: #ccc;
			}
		}
		&+.btn {
			margin-top: 15px;
		}
	}
}



/* Navbar
-------------------------------------------------------------------------------*/
.navbar {
	margin: 0 0 0px;
	display: table;
	width: 100%;
	&__item {
		display: table-cell;
		height: 45px;
		vertical-align: middle;
		width: 7%;
		&:nth-child(n+2) {
			text-align: center;
			width: 11%;
		}
		&:last-child {
			text-align: right;
			// width: 11%;
		}
	}
	&__link {
		color: #999;
		font-size: 12px;
		display: block;
		&:hover,&.active {
			color: white;
			text-decoration: none;
		}
	}
}

.menu_overlay {
	position: absolute;
	z-index: 99;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(#000, .5);
	display: none;
}

.catalog_menu {
	position: relative;
	float: left;
	&_toggle {
		width: 270px;
		height: 59px;
		background-color: $color_danger;
		position: relative;
		display: block;
		padding: 18px 33px 18px 57px;
		color: white;
		font-size: 18px;
		font-weight: 600;
		text-transform: uppercase;
		&:before,&:after {
			display: block;
			position: absolute;
		}
		&:before {
			content: image-url('burger.png');
			top: 20px;
			left: 20px;
		}
		&:after {
			content: image-url('carret_down.png');
			top: 18px;
			right: 21px;
			@include trs(.2s);
			@include transform(rotate(-90deg));
		}
		&:hover,&.open {
			background-color: $color_success;
			text-decoration: none;
			&:after {
				@include transform(rotate(0deg));
			}
		}
	}
	&.menu_open {
		.catalog_menu_drop {
			display: block;
		}
	}
	&_drop {
		display: none;
		position: absolute;
		width: 269px;
		z-index: 100;
		&>li {
			&>a {
				background-color: $color_gray_light;
				padding: 17px 28px;
				color: $btn_default;
				font-size: 13px;
				font-weight: 400;
				display: block;
				position: relative;
				&.carret_link {				
					&:after {
						content: image-url('carret_drop.png');
						position: absolute;
						right: 7px;
					}
					&:hover {
						&:after {
							content: image-url('carret_drop_hover.png');
						}
					}
				}
				&:hover {
					background-color: #e6e6e6;
					text-decoration: none;
				}
			}
			&:hover {
				.catalog_menu_submenu {
					display: block;
				}
			}
		}
	}
	&_submenu {
		display: none;
		position: absolute;
		min-width: 537px;
		// min-height: 649px;
		background-color: $color_gray_light;
		left: 270px;
		top: 1px;
		padding: 43px 55px 28px;
		line-height: 20px;
		@include columns-text(150px, 3, 25px, 0px, solid, #000);
		&>li {
			position: relative;
			display: block;
			z-index: 2;
			margin-bottom: 30px;
			&>a {
				color: $color_main;
				font-size: 13px;
				font-weight: 400;
			}
			a {
				color: $color_main;
				&:hover {
					color: $color_danger;
					text-decoration: none;
				}
			}
		}
		&_img {
			margin-top: 104px !important;
			display: inline-block;
			cursor: pointer;
			margin-bottom: 0;
		}
	}
	.list_dotted {
		font-size: 11px;
		margin: 8px;
		li {
			padding-left: 14px;
			&:before {
				top: 1px;					
			}
			a {
				font-size: 12px;
			}
		}
	}
}


/* Sidebars
 ----------------------------------------------------------------------------- */
.sidebar {
	padding-top: 5px;
	padding-left: 10px;
	float: left;
	&>* {
		width: 270px;
		margin-right: 19px;
		&+* {
			margin-top: 25px;
		}
	}
	&_right {
		float: right;
		padding-left: 0;
		padding-right: 10px;
		&>* {
			margin-left: 19px;
			margin-right: 0;
		}
	}

	.sidebar_news_item {
		.news_grid_item {
			min-height: initial;
		}
		.news_grid_img {
			height: 165px;
			margin-bottom: 20px;
		}
		.news_grid_text {
			height: auto;
			padding-bottom: 26px;
		}
	}
}

/* Middle
 ----------------------------------------------------------------------------- */
.main__content {
	padding-bottom: $footer_height + 60px;
	position: relative;
	padding-top: 25px;
	@extend %clear_a;
	z-index: 0;
	.container_center {
		padding: 0 5px;
	}
}

.page_content {
	overflow: hidden;
	padding: 0 10px;
	.page_title {
		font-size: 30px;
		font-weight: 700;
		padding-bottom: 19px;
		margin-bottom: 16px;
		border-bottom: 1px solid #e6e6e6;
		line-height: 1.1;
		&_date {
			color: grey;
			font-size: 12px;
			font-weight: 400;
			margin-top: 10px;
			&:before {
				content: image-url('date_ico.png');
				display: inline-block;
				vertical-align: top;margin-right:9px;
			}
		}
	}
	.page_subtitle {
		font-size: 18px;
		font-weight: 700;
		line-height: 24px;
		margin-bottom: 20px;
	}
	.page_subtitle_danger {
		font-size: 24px;
		font-weight: 600;
		line-height: 26px;
		margin-bottom: 19px;
		color: $color_danger;
	}
	img + * {
		margin-top: 19px;
	}
	p {
		line-height: 24px;
		&+ p {
			margin-top: 20px;
		}
		&+.page_subtitle {
			margin-top: 35px;
		}
		&+.list {
			margin-top: 0px;
			li {
				padding-top: 5px;
			}
		}
		&+.catalog_grid,&+.parters_grid {
			margin-top: 66px;
		}
	}
	.sidebar {
		padding: 0;
	}
}

// Home page -------------------------------
.main_slider {
	margin-top: 6px;
	margin-bottom: 31px;
	&_item {
		position: relative;
		.btn {
			position: absolute;
			bottom: 52px;
			right: 52px;
			padding: 11px 15px 14px;
			min-width: 170px;
			text-transform: uppercase;
			color: $color_danger;
			border-color: $color_danger;
			&:hover {
				opacity: .8;
			}
		}
	}
	.slick-dots {
		position: absolute;
		bottom: 16px;
		left: 0;
		width: 100%;
		li button {
			background-color: #fff;
		}
	}
}

.reasons {
	background-color: $color_gray_light;
	padding: 13px 0;
	text-align: center;
	margin-bottom: 35px;
	&_item {
		display: inline-block;
		width: 33%;
		font-weight: 400;
		text-transform: uppercase;
		img {
			margin-right: 13px;
			display: inline-block;
			vertical-align: middle;
		}
	}
}

.tab_nav {
	margin-bottom: 19px;
	@extend %clear_a;
	&_link {
		float: left;
		border: 1px solid #ccc;
		color: grey;
		font-size: 13px;
		padding: 5px 25px 7px;
		display: inline-block;
		margin: 0 5px 5px 0;
		outline: 0;
		@include trs(.3s);
		&:hover,&.active {
			background-color: $btn_default;
			border-color: $btn_default;
			color: #fff;
			text-decoration: none;
		}
	}
	&_danger {
		.tab_nav_link {
			&:hover,&.active {
				background-color: $btn_danger;
				border-color: $btn_danger;
				color: #fff;
				text-decoration: none;
			}
		}
	}
}

.reviews_box {
	background-color: $color_gray_el;
	padding: 18px 46px;
	margin: 17px 8px 95px;
	&_title {
		color: $color_danger;
		font-size: 24px;
		font-weight: 600;
		margin-bottom: 28px;
	}
	&_grid {
		.grid__wrapper {}
	}
	&_item {
		display: block;
		cursor: pointer;
		color: #fff;
		&:hover {
			text-decoration: none !important;
			img {
				@include transform(scale(1.1));
				opacity: .8;
			}
		}
	}
	&_img {
		height: 190px;
		overflow: hidden;
		margin-bottom: 13px;
		img {
			display: block;
			width: 100%;
			@include trs(.5s);
		}
	}
	&_text {
		color: white;
		&:hover {
			text-decoration: underline;
		}
	}
	&_btn {
		color: #fff;
		border-color: #fff;
		width: 176px;
		height: 40px;
		display: block;
		margin: 1px auto 6px;
		font-size: 13px;
		font-weight: 400;
		text-transform: uppercase;
		padding: 10px;
		&:hover {
			opacity: .8;
			color: #fff;
		}
	}
}

// Product boxes ---------------------------
.product {
	position: relative;
	padding: 10px 0;
	border: 1px solid #e6e6e6;
	background-color: #fff;
	@extend %clear_a;
	&_min {
		position: relative;
		border: 1px solid #e6e6e6;
		padding-bottom: 16px;
		display: block;
		@extend %clear_a;
		&_title {
			background-color: $color_danger;
			color: white;
			font-size: 18px;
			font-weight: 700;
			padding: 11px 33px 12px;
		}
		&_sales {
			width: 82px;
			height: 79px;
			background: image-url('sales_bg.png') no-repeat center center;
			color: #fff;
			font-weight: 600;
			position: absolute;
			top: -6px;
			right: 13px;
			text-align: center;
			padding: 10px;
			.sales_percent {
				display: block;
				font-size: 24px;
				font-weight: 700;
				line-height: 1;
				margin-top: 2px;
			}
		}
		&_img {
			text-align: center;
			display: block;
			margin: 7px 10px 11px;
		}
		&_link {
			margin: 0 25px 9px;
			height: 53px;
			overflow: hidden;
			display: block;
		}
		&_price {
			float: left;
			margin-left: 28px;
			color: #333;
			font-size: 30px;
			font-weight: 700;
			font-style: italic;
			span {
				font-size: 18px;
				vertical-align: top;
			}
		}
		&_oldprice {
			float: right;
			color: #ff0101;
			font-size: 18px;
			font-weight: 600;
			font-style: italic;
			text-decoration: line-through;
			margin-right: 23px;
			margin-top: 10px;
		}
		&_promo {
			position: absolute;
			top: 17px;
			left: 17px;
			width: 66px;
			height: 66px;
			text-align: center;
			background-color: $color_danger;
			color: white;
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
			padding-top: 24px;
			@include border-radius(50%);
		}
	}
}

.product_slider,.product_slider_four_columns {
	margin-bottom: 7px;
	.product_slider_item {
		width: 270px;
		margin-right: 30px;
		position: relative;
		height: 450px;
		.product {
			overflow: hidden;
			height: 380px;
			min-height: 380px;
			@include trs(0.3s);
			&:hover {
				padding-bottom: 16px;
				height: auto;
				position: relative;
				@include box-shadow(0 0 4px #ddd);
				.btn {
					height: 49px;
				}
			}
		}
		.btn {
			width: 212px;
			height: 0;
			overflow: hidden;
			font-size: 18px;
			font-weight: 700;
			text-transform: uppercase;
			margin: 21px 0 0 25px;
			&:before {
				margin-right: 24px;
				vertical-align: top;
			}
		}
	}
	.slick-dots {
		position: absolute;
		bottom: 30px;
		width: 100%;
	}
}

.icon_cart_w {
	&:before {
		content: image-url('cart_w.png');
		display: inline-block;
		vertical-align: middle;
		margin-bottom: -6px;
	}
}


// Subscribe form ---------------------------------
.subscribe {
	background-color: $color_gray_light;
	padding: 23px 29px 33px;
	legend {
		margin-bottom: 30px;
		display: block;
		width: 100%;
		span {
			display: block;
			overflow: hidden;
			color: $btn_default;
			&:first-child {
				font-size: 18px;
				font-weight: 700;
			}
			&:last-child {
				font-size: 13px;
				font-weight: 300;
			}
		}
	}
	.icon_mail {
		&:before {
			content: image-url('ico-mail.png');
			display: block;
			float: left;
			margin-right: 20px;
			margin-top: 5px;
		}
	}
	input {
		background-color: white;
		border: 1px solid #ccc;
		width: 100%;
		margin-bottom: 27px;
	}
	.btn {
		width: 100%;
		padding: 9px;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
	}	
}

// News in sidebar -------------------------
.sidebar_news {
	text-align: center;
	&_title {
		color: $btn_default;
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 20px;
	}
	&_list {
		text-align: left;
		li + li {
			margin-top: 17px;
		}
		.date {
			display: block;
			float: left;
			width: 70px;
			height: 30px;
			border: 1px solid $color_danger;
			color: $color_danger;
			font-size: 13px;
			font-weight: 400;
			text-align: center;
			margin-right: 15px;
			padding: 6px 3px;
			&+span {
				overflow: hidden;
				display: block;
				line-height: 1.1;
				a {
					color: $color_danger;
					display: block;
					margin: 7px 0 0;
					&:after {
						content: '>>';
						display: inline-block;
					}
				}
			}
		}
	}
	.btn {
		margin-top: 24px;
		padding: 9px 15px;
		width: 176px;
		text-transform: uppercase;
		font-size: 14px;
	}
}

// Sidebar sliders --------------------------------
.view_history {
	padding-top: 13px;
	&_title {
		color: $btn_default;
		font-size: 18px;
		font-weight: 700;
		margin: 0 27px 7px;
	}
	&_slider {
		width: 200px;
		margin: 21px auto 15px;
		img {
			width: 197px;
		}
	}
	.reset_history {
		color: #666;
		font-size: 13px;
		margin: 0 30px 10px;
		&:before {
			content: image-url('close_sm.png');
			margin-right: 18px;
			display: inline-block;
			
		}
	}
}

// News page --------------------------------------
.news_grid {
	margin-top: 35px;
	&_item {
		min-height: 350px;
		display: block;
		position: relative;
		text-decoration: none;
		cursor: pointer;
		&:hover {
			text-decoration: none;
			img {
				@include transform(scale(1.1));
				opacity: .7;
			}
		}
	}
	&_img {
		overflow: hidden;
		margin-bottom: 15px;
		img {
			display: block;
			@include trs(.4s);
		}
	}
	&_date {
		position: absolute;
		top: 23px;
		left: -10px;
		width: 70px;
		height: 27px;
		background-color: $color_danger;
		color: white;
		font-size: 12px;
		font-weight: 700;
		padding: 6px 5px;
		text-align: center;
	}
	&_text {
		color: $color_main;
		font-size: 16px;
		font-weight: 600;
		cursor: pointer;
		height: 60px;
		overflow: hidden;
		&:hover {
			text-decoration: underline;
		}
	}
}

// Catalog -----------------------------------------
.filter_top {
	margin-bottom: 19px;
	color: grey;
	font-size: 13px;
	@extend %clear_a;
	&_result {
		font-size: 12px;
		display: inline-block;
		margin-top: 16px;
	}
	&_el {
		float: right;
		vertical-align: middle;
		margin-right: 3px;
		@extend %clear_a;
		label {
			font-size: 13px;
			display: inline-block;
			margin-right: 21px;
			&:last-of-type {
				margin-right: 7px;
				margin-left: 38px;
			}
		}
		a {
			border: 1px solid #e6e6e6;
			display: inline-block;
			padding: 7px 28px 8px 11px;
			margin-right: -4px;
			color: grey;
			&:hover {
				text-decoration: none;
				background-color: #fafafa;
			}
			&+a {
				border-left: none;
			}
			&.active {
				background-color: #f2f2f2;
			}
		}
	}
	&_sort {
		position: relative;
		&.active {
			&:after {
				content: image-url('sort.png');
				display: inline-block;position:absolute;
				right: 10px;
				top: 7px;
				&:hover {
					opacity: .8;
				}
			}
			&.invert {
				&:after {
					@include transform(scale(1, -1));
				}
			}
		}
	}
	&_swicher {}
	.view_row {
		padding: 7px 10px;
		&:before {
			content: image-url('burger_gr.png');
		}
	}
	.view_grid {
		padding: 7px 10px;
		&:before {
			content: image-url('grid_gr.png');
		}
	}
}

// Catalog filter -----------------------------------
.cat_filter {
	&_item {
		background-color: $color_gray_light;
		padding: 15px 18px 0;
		height: 46px;
		overflow: hidden;
		@include trs(.5s);
		&.open {
			height: auto;
			padding-bottom: 25px;
			.cat_filter_item_name {
				&:before {
					@include transform(rotate(90deg));
				}
			}
		}
		&+.cat_filter_item {
			border-top: 1px solid #e6e6e6;
		}
	}
	&_item_name {
		margin-bottom: 16px;
		cursor: pointer;
		font-weight: 600;
		&:before {
			content: image-url('carret_filter.png');
			display: inline-block;
			vertical-align: middle;
			margin-right: 26px;
			@include trs(.2s);
		}
		&:hover {
			opacity: .8;
		}
	}
	&_column {}
	.input_range {
		margin-bottom: 28px;
		input {
			width: 77px;
			height: 25px;
			background-color: white;
			border: 1px solid #ccc;
			padding: 5px 12px;
			color: #666;
			font-size: 13px;
			vertical-align: middle;
			display: inline-block;
			margin: 0 4px;
		}
	}
	&_check {
		display: block;
		font-size: 13px;
		&+* {
			margin-top: 9px;
		}
		span {
			color: #b3b3b3;
		}
		input {
			margin-right: 5px;
			background-color: #fff;
		}
	}
	.min_val {}
	.max_val {}
	.slider_range {
		margin-bottom: 4px;
	}
	.btn {
		width: 200px;
		height: 40px;
		font-size: 13px;
		font-weight: 400;
		text-transform: uppercase;
		display: block;
		margin: 30px auto 54px;
	}
}

// UI Slider -----------------------------------------
.ui-slider {
	position: relative;
	text-align: left;
	height: 7px;
	@include background-image(linear-gradient(to top, #e6e6e6 0%, white 100%));
	@include border-radius(3px);
	@include box-shadow(inset 0 1px 4px rgba(0, 0, 0, 0.24));
	@include border-radius(7px);
	&-handle {
		position: absolute;
		z-index: 2;
		width: 1.2em;
		height: 1.2em;
		cursor: pointer;
		-ms-touch-action: none;
		touch-action: none;
		width: 17px;
		height: 17px;
		@include background-image(linear-gradient(to top, #e6e6e6 0%, white 100%));
		border: 1px solid #ccc;
		@include border-radius(17px);
		outline: 0;
	}
	&-range {
		position: absolute;
		z-index: 1;
		font-size: .7em;
		display: block;
		border: 0;
		background-position: 0 0;
		height: 7px;
		background-color: $color_danger;
	}
	/* support: IE8 - See #6727 */
	&.ui-state-disabled .ui-slider-handle,
	&.ui-state-disabled .ui-slider-range {
		filter: inherit;
	}
	&-horizontal {
		height: 0.5em;
	}
	&-horizontal .ui-slider-handle {
		top: -0.4em;
		margin-left: -.6em;
	}
	&-horizontal .ui-slider-range {
		top: 0;
		height: 100%;
	}
	&-horizontal .ui-slider-range-min {
		left: 0;
	}
	&-horizontal .ui-slider-range-max {
		right: 0;
	}

	&-vertical {
		width: .8em;
		height: 100px;
	}
	&-vertical .ui-slider-handle {
		left: -.3em;
		margin-left: 0;
		margin-bottom: -.6em;
	}
	&-vertical .ui-slider-range {
		left: 0;
		width: 100%;
	}
	&-vertical .ui-slider-range-min {
		bottom: 0;
	}
	&-vertical .ui-slider-range-max {
		top: 0;
	}
}

.ui-sortable-handle {
	-ms-touch-action: none;
	touch-action: none;
}

// Catalog list ------------------------------
.catalog_list {
	overflow: hidden;
	padding-left: 12px;
	&_item {
		background-color: white;
		border: 1px solid #e6e6e6;
		padding: 18px 30px 15px 19px;
		@extend %clear_all;
		&+.catalog_list_item {
			border-top: none;
		}
	}
	&_img {
		float: left;
		position: relative;
		margin-right: 92px;
	}
	&_hit {
		width: 47px;
		height: 25px;
		top: -10px;
		right: -35px;
		position: absolute;
		&:before {
			content: image-url('hit.png');
			display: block;
		}
	}
	&_description {
		overflow: hidden;
		padding: 6px 21px;
		max-width: 270px;
		height: 190px;
	}
	&_name {
		color: #53a1e3;
		font-size: 18px;
		margin-bottom: 11px;
		line-height: 21px;
	}
	&_articul {
		font-size: 13px;
		font-style: italic;
		margin-bottom: 28px;
	}
	&_text {
		font-size: 13px;
		p {
			line-height: 16px;
			&+p {
				margin-top: 0px;
			}
		}
	}
	&_cost {
		float: right;
		text-align: right;
		position: relative;
	}
	&_price {
		color: #333;
		font-size: 30px;
		font-weight: 700;
		font-style: italic;
		text-align: right;
		margin: 4px 0 35px;;
		span {
			color: #333;
			font-size: 18px;
			font-weight: 700;
			font-style: italic;
			vertical-align: super;
			margin-left: 6px;;
		}
		&_old {
			color: #ff0101;
			font-size: 18px;
			font-weight: 600;
			font-style: italic;
			text-decoration: line-through;
			position: absolute;
			top: 32px;
			right: 8px;
		}
	}
	&_campare {
		color: #999;
		font-size: 12px;
		width: 130px;
		text-align: left;
		padding: 0 2px;
		line-height: 14px;
		display: inline-block;;;;
		&:before {
			content: image-url('vesi.png');
			float: left;
			display: block;
			margin-right: 14px;
		}
	}
	&_sales {
		display: block;
		position: absolute;
		top: 0;
		right: -30px;
		width: 66px;
		height: 66px;
		background-color: $color_danger;
		color: #fff;
		font-weight: 700;
		text-align: center;
		padding-top: 23px;
		text-transform: uppercase;
		@include border-radius(50%);
	}
	.btn {
		width: 170px;
		height: 55px;
		font-size: 16px;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 18px;
	}
	.pagination {
		margin: 43px 0 90px;
	}
	&_wrapper {
		display: none;
		&.open {
			display: block;
		}
	}
}

.catalog_grid {
	padding: 30px 0;
}

.catalog_grid_wrapper {
	display: none;
	&.open {
		display: block;
	}
	.grid__wrapper {
		// width: 30%;
		.product_min {
			padding-top: 10px;
		}
	}
	.catalog_list_hit {
		top: -2px;
		right: 19px;
	}
	.catalog_list_sales {
		right: inherit;
		top: -3px;
		left: 16px;
	}
	.product_min_img {
		img {
			width: 228px;
			display: inline-block;
		}
	}
}

// Product cart ---------------------------------
.product_cart {
	@extend %clear_a;
	margin-bottom: 47px;
	&_box {
		width: 770px;
		float: left;
	}
	&_title {
		font-size: 30px;
		font-weight: 700;
		margin-bottom: 9px;
	}
	&_art {
		margin-bottom: 19px;
		@extend %clear_all;
		&>* {
			display: inline-block;
			vertical-align: middle;
		}
		.rate {
			margin: 0 19px 0 50px;
		}
	}
	&_img {
		width: 370px;
		height: 370px;
		background-color: white;
		margin-right: 29px;
		float: left;
	}
	&_info {
		overflow: hidden;
		padding: 8px 0 0;
		&_top {
			@extend %clear_a;
		}
	}
	&_price {
		float: left;
		font-weight: 700;
		font-style: italic;
		font-size: 36px;
		text-transform: uppercase;
		@extend %clear_a;
		span {
			font-size: 16px;
		}
	}
	&_available {
		float: right;
		margin-top: 14px;
		&.available {
			&:before {
				content: image-url('yes.png');
				margin-right: 11px;
				vertical-align: middle;
				// display: inline-block;
			}
		}
	}
	&_advantage {
		margin: 17px 0 31px;
		padding: 23px 17px 23px 17px;
		background-color: $color_gray_light;
		@extend %clear_all;
	}
	&_color {
		font-size: 12px;
		padding-bottom: 19px;
		border-bottom: 1px solid #e6e6e6;
		@extend %clear_a;
		padding-left: 53px;
		position: relative;
		label {
			float: left;
			display: block;
			margin-right: 3px;
			margin-top: 13px;
			width: 50px;
			position: absolute;
			left: 0;
		}
		&_label {
			display: inline-block;
			display: block;
			padding: 7px 5px 8px 2px;
			border: 1px solid transparent;
			max-width: 107px;
			float: left;
			cursor: pointer;
			&:before {
				content: '⚫';
				width: 23px;
				height: 23px;
				display: inline-block;font-size: 47px;
				line-height: 23px;
				@include text-shadow(0 0 1px #e6e6e6);
				margin-left: -4px;
				margin-right: 12px;
				float: left;
			}
			span {
				color: $color_main;
				font-style: italic;
				font-size: 11px;
				font-weight: 100;display: block;
				margin: 0px 0 0;
				line-height: 12px;
			}
			&.active {
				background-color: white;
				border: 1px solid #e6e6e6;
				// float: left;
			}
		}
	}
	&_delivery {
		padding: 21px 3px 0;
		&>* {
			display: inline-block;
			vertical-align: top;
		}
		&:before {
			content: image-url('delivery.png');
			margin-right: 17px;
		}
		label {
			font-size: 12px;
			width: 70px;
			line-height: 13px;
		}
		.btn {
			border: 1px solid #e6e6e6;
			padding: 4px;
			width: 100px;
			text-transform: none;
			float: right;
			margin: -3px 0px 0 5px;
		}
	}
	&_delivery_price {
		font-size: 18px;
		font-weight: 700;
		span {
			vertical-align: text-bottom;
			text-transform: uppercase;;
		}
	}
	&_btn {
		.btn {
			font-size: 16px;
			padding: 15px;
		}
		.btn_danger {
			font-weight: 700;
			width: 170px;
		}
		.buy_onclick {
			border: 1px solid #e6e6e6;
			text-transform: none;
			width: 196px;
		}
	}
	.catalog_list_campare {
		margin-top: 23px;
		&:before {
			margin-right: 20px;
		}
	}
}

.rate {
	white-space: nowrap;
	&>* {
		display: inline-block;
		margin: 0 !important;
	}
}

.product_cart_more {
	width: 370px;
	float: right;
	margin-right: -10px;
	margin-top: 9px;
	&_title {
		background-color: #666;
		color: white;
		font-size: 18px;
		font-weight: 700;
		padding: 10px;
		text-align: center;
	}
	&_slider {}
	&_item {
		border: 1px solid #e6e6e6 !important;
		padding: 12px 28px 15px;
		@extend %clear_a;
		&+.product_cart_more_item {
			border-top: none !important;
		}
	}
	&_img {
		float: left;
		margin-right: 21px;
	}
	&_text {
		overflow: hidden;
		position: relative;
		height: 93px;
	}
	&_name {
		font-weight: 400;
		margin-bottom: 4px;
		max-height: 36px;
		overflow: hidden;
	}
	&_price {
		font-weight: 700;
		font-style: italic;
		font-size: 23px;
		span {
			font-size: 17px;
		}
	}
	&_incart {
		color: $color_success;
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
		bottom: 0;
		position: absolute;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}
}

// Product tabs --------------------------------------
.product_swicher, .tabs {
	border-bottom: 4px solid #e6e6e6;
	&_link {
		display: inline-block;
		background-color: #e6e6e6;
		padding: 19px 22px;
		color: $color_main;
		font-size: 14px;
		font-weight: 400;
		min-width: 170px;
		text-align: center;
		&.active {
			background-color: $color_danger;
			color: #fff;
		}	
	}
}

.product_tabs, .tabs_wrapp {
	&_item {
		padding: 46px 0 96px;
		display: none;
		&.active {
			display: block;
		}
		&-features {
			padding: 64px 29px 112px;
			ul {
				@extend %clear_all;
				li {
					margin-bottom: 15px;
					@extend %clear_all;
					span {
						display: block;
						&:first-child {
							float: left;
							font-weight: 700;
							width: 350px;
						}
						&:last-child {
							// overflow: hidden;
							margin-left: 372px;
						}
					}
				}
			}
		}
		&-review {
			
		}
		&-review-yand {

		}
		&-description {

		}
		&-payments {
		}
		&-warranty {

		}
	}
}

// Review row ---------------------------------
.review_row {
	padding-bottom: 61px;
	@extend %clear_all;
	&+.review_row {
		border-top: 1px solid #ccc;
		padding-top: 54px;
	}
	&_left {
		float: left;
		width: 290px;
		padding-right: 20px;
	}
	&_name {
		color: #5f5f5f;
		font-weight: 700;
		margin-bottom: 7px;
	}
	&_date {
		color: #5f5f5f;
		font-size: 12px;
	}
	&_rate {
		// margin-top: 0px;
	}
	&_text {
		overflow: hidden;
	}
	&_more {
		text-align: center;
		.btn {
			width: 210px;
			height: 45px;
		}
	}
}


// Add review modal -------------------------------
.modal_add_review {
	.modal-dialog {
		width: 900px;
		margin: 5% auto;
		padding: 46px 53px;
	}
	&_rate {
		color: #666;
		margin: 15px 0 28px;
		label {
			display: inline-block;
			margin-right: 28px;
			vertical-align: middle;
		}
		a {
			&:hover {
				opacity: .6;
			}
		}
	}
	&_form {
		input {
			width: 100%;
		}
	}
	.grid__wrapper {
		padding-bottom: 0;
	}
	.form__row {}
	.btn {
		float: right;
		width: 219px;
		height: 45px;
		margin-top: 49px;
	}
}


// Warranty page ------------------------------------
.parters_grid {
	.grid__wrapper {
		display: table;
		padding-bottom: 0;
	}
	.grid__item {
		display: table-cell;
		vertical-align: middle;
		height: 120px;
		&:hover {
			opacity: .8;
		}
	}
}


// Delyvery page ---------------------------------------
.delivery_partners_grid {
	margin-top: 30px;
	.grid__wrapper {}
	.grid__item {
	}
}
.delivery_partners_link {
	display: block;
	line-height: 24px;
	color: $color_danger;
}
.delivery_partners_img {
	height: 123px;
	margin-bottom: 20px;
	display: block;
}

.pay_row {
	margin: 30px 0;
	&_img {
		float: left;
		width: 89px;
		margin-right: 30px;
		margin-top: 5px;
	}
	&_text {
		overflow: hidden;
	}
	&_title {
		color: #5f5f5f;
		font-weight: 700;
		margin-bottom: 20px;
	}
	&_description {

	}
}

// Help page --------------------------------
.help_item {
	padding-left: 40px;
	padding-bottom: 49px;
	a {
		color: $color_danger;
	}
}

// Cart page -------------------------------
.cart {
	&_title {
		font-size: 30px;
		font-weight: 700;
		margin-bottom: 16px;
		width: 100%;
	}
	&_item {
		background-color: white;
		border: 1px solid #e6e6e6;
		padding: 15px 28px 15px 15px;
		@extend %clear_a;
		&+.cart_item {
			border-top: none;
		}
		&_number {
			width: 78px;
			margin-bottom: 12px;
		}
		&_delete {
			color: #5f5f5f;
			font-size: 12px;
			&:before {
				content: image-url('item_delete.png');
				display: inline-block;
				vertical-align: text-top;
				margin-right:3px;
			}
		}
		&_img {
			float: left;
			margin-right: 47px;
			img {
				display: block;
			}
		}
		.plus,.minus {
			cursor: pointer;
			position: relative;
			padding: 7px;
			width: 26px;
			height: 26px;
			background-color: white;
			border: 1px solid #ccc;
			@include trs(.3s);
			&:hover {
				background-color: #fdfdfd;
				&:before,&:after  {
					background-color: #ddd;
				}
			}
		}
		.plus {
			float: left;
			&:before,&:after  {
				content: '';
				display: block;
				position: absolute;
				background-color: #ccc;
			}
			&:before {
				height: 12px;
				width: 1px;
				top: 6px;
				left: 12px;
			}
			&:after {
				height: 1px;
				width: 12px;
				top: 12px;
				left: 7px;
			}
		}
		.minus {
			float: right;
			&:after {
				content: '';
				display: block;
				position: absolute;
				background-color: #ccc;
				height: 1px;
				width: 12px;
				top: 12px;
				left: 7px;
			}
		}
	}
	&_total {
		float: right;
		padding: 18px 0 0;
		label {
			color: #5f5f5f;
			font-size: 12px;
			margin-bottom: 2px;
		}
		input {
			@include border-radius(0);
			border-width: 1px 0 !important;
			width: 26px;
			padding: 3px 4px;
			text-align: center;
			border-color: #ccc !important;
			outline: 0;
		}
	}
	&_price {
		color: black;
		font-size: 24px;
		font-weight: 700;
		font-style: italic;
		margin-bottom: 12px;
		span {
			font-size: 13px;
			vertical-align: super;
		}
	}
	&_description {
		overflow: hidden;
		padding: 17px 20px 20px 0;
	}
	&_name {
		color: #53a1e3;
		font-size: 18px;
		margin-bottom: 6px;
		display: inline-block;
	}
	&_articul {
		display: block;
		color: #5f5f5f;
		font-size: 12px;
		font-style: italic;
	}
}

.sidebar {
	.cart_title {
		margin-top: -5px;
	}
}

.payment_form {
	width: 470px;
	border: 1px solid #e6e6e6;
	margin-top: 0;
	font-size: 13px;
	color: #5f5f5f;
	input,textarea {
		@include border-radius(0);
		width: 100%;
		font-size: 13px;
		line-height: 19px;
	}
	input[type='radio'], input[type='checkbox'] {
		vertical-align: middle;
		margin-right: 6px;
		width: 15px;
	}
	&_box {
		padding: 32px 45px;
		&+.payment_form_box {
			border-top: 1px solid #e6e6e6;
		}
	}
	&_subtitle {
		color: #5f5f5f;
		font-size: 16px;
		font-weight: 700;
		margin-bottom: 23px;
	}
	&_contact {
		.form__row {
			label {
				float: left;
				width: 120px;
				padding-top: 12px;
			}
			.form_field {
				padding-left: 127px;
				input {
					padding: 7px 15px;

				}
			}
		}
	}
}

.payment_method {
	margin-left: 0;
	.grid__wrapper {
		padding: 0;
		&:nth-child(n+3) {
			.payment_method_label {
				border-top: none;
			}
		}
		&:nth-child(even) {
			.payment_method_label {
				border-left: none;
			}
		}
	}
	.grid__item {
		position: relative;
		display: block;
		margin-bottom: 0;
	}
	input {
		position: absolute;
		opacity: 0;
		&:checked {
			&+.payment_method_label {
				background-color: $color_gray_light;
				@include box-shadow(inset 0 0 2px #949494);
			}
		}
	}
	&_label {
		height: 79px;
		background-color: white;
		border: 1px solid #ccc;
		cursor: pointer;
		display: table;
		width: 100%;
		padding: 12px 10px 12px 18px;
		@include box-sizing(border-box);
		@include trs(.3s);
		&:hover {
			background-color: $color_gray_light;
		}
		&>* {
			display: table-cell;
			vertical-align: middle;
		}
	}
	&_img {
		width: 31px;
		vertical-align: middle;
		text-align: center;
	}
	&_text {
		overflow: hidden;
		padding-left: 23px;
	}
	&_message {
		color: grey;
		font-size: 11px;
		padding: 22px 0;
		&:before {
			content: image-url('lock.png');
			display: block;
			float: left;
			margin-top: 4px;
			margin-right: 12px;
			margin-left: 15px;
		}
	}
}

.payment_form_delivery {
	label {
		margin-bottom: 0;
	}
	.select {
		float: right;
		width: 342px;
		margin-right: 11px;
		margin-top: 10px;
	}
	.form__row {
		&+.form__row {
			margin-top: 15px;
		}
	}
}

.payment_form_total {
	ul {
		li {
			display: block;
			font-size: 14px;
			@extend %clear_a;
			&+li {
				margin-top: 15px;
			}
			&>span {
				&:first-child {
					float: left;
				}
				&:last-child {
					float: right;
				}
			}
			&:last-of-type {
				&>* {
					&:first-child {
						margin-top: 10px;
					}
				}
			}
		}
	}
	.total_ammount {
		color: black;
		font-size: 24px;
		font-weight: 700;
		font-style: italic;
		i {
			display: inline-block;
			vertical-align: text-top;
			font-size: 14px;
			margin-left: 5px;
		}
	}
	.btn {
		width: 100%;
		height: 52px;
		font-size: 18px;
		margin-top: 36px;
		margin-bottom: 29px;
	}
	.form__row {
		&+.form__row {
			margin-top: 14px;
		}
	}
}


/* Footer
 ----------------------------------------------------------------------------- */
.footer {
	position: relative;
	height: $footer_height;
	background: $btn_default;
	color: grey;
	position: relative;
	a {
		color: grey;
		&:hover {
			color: #ccc;
		}
	}
	@extend %clear_all;
	.container_center {
		padding-top: 42px;
		padding-bottom: 85px;
		line-height: 1.77;
	}
	&_copy {
		position: absolute;
		height: 45px;
		left: 0;
		bottom: 0;
		width: 100%;
		background-color: #3a3a3a;
		color: #ccc;
		.container_center {
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
}

.footer_nav {
	float: left;
	@extend %clear_a;
	&_title {
		color: #ccc;
		margin-bottom: 20px;
		line-height: 1.2;
	}
	&_left {
		float: left;
		width: 499px;
	}
	&_list {
		@include columns-text(200px, 2, 11px, 0px, solid, #000);
		font-size: 12px;
		line-height: 24px;
	}
	&_right {
		float: left;
		width: 242px;
	}
}
.footer_review {
	float: left;
	width: 200px;
	margin-right: 27px;
	&_link {
		font-size: 12px;
		&:after {
			content: '>>';			
		}
	}
	.rate {
		margin-top: -10px;
		margin-bottom: 5px;
	}
	.pay_ico {
		text-align: center;
		max-width: 98px;
		padding-top: 48px;
		img {
			display: inline-block;
			&+img {
				margin-top: 12px;
			}
		}
	}
}
.footer_contact {
	&_link {
		margin-bottom: 32px;
		a {
			display: block;
		}
	}
}
.soc {
	padding-top: 12px;
	a {
		width: 32px;
		height: 32px;
		margin-right: 4px;
	}
	&_fb {
		&:before {
			content: image-url('fb.png');
		}
	}
	&_youtube {
		&:before {
			content: image-url('youtube.png');
		}
	}
	&_insta {
		&:before {
			content: image-url('instagram.png');
		}
	}
	&_vk {
		&:before {
			content: image-url('vk.png');
		}
	}
	&_pint {
		&:before {
			content: image-url('pinterest.png');
		}
	}
}

